mixin data(video)
  div
    a(href=`video/${video._id}`)=video.title 
    ul
      li Discription : #{video.discription} 
      li Hash Tags : #{video.hashtags}
      li Rating : #{video.metaDB.rating}
      li Views : #{video.metaDB.views}
      li CreatedAt : #{video.createdAt}
    hr
        
