mixin data(video)
  div
    a(href=`video/${video._id}`)=video.title 
    p Description : #{video.description}
    p Rating : #{video.metaDB.rating}
    p Views : #{video.metaDB.views}
    p CreatedAt : #{video.createdAt}
    ul 
      each hash in video.hashtags 
        li=hash
    hr
        
