mixin data(video)
  div
    a(href=`video/${video.id}`)=video.title 
    ul 
      li Rating : #{video.rating}
      li Comments : #{video.comments}
      li CreatedAt : #{video.createdAt}
      li #{video.views === 1 ? "view" : "views"} : #{video.views}

