extends base.pug

block content
  if errorMessage
      h3=errorMessage
  form(method="POST") 
    input(type="email" name="email" placeholder="email" requierd, 
          autocomplete="off")
    input(type="text" name="userName" placeholder="userName" requierd, 
          autocomplete="off")
    input(type="password" name="password" placeholder="password" requierd, 
          autocomplete="off")
    input(type="password" name="password2" placeholder="Checking password" requierd, 
          autocomplete="off")
    input(type="text" name="nickName" placeholder="nickName" requierd, 
          autocomplete="off")
    input(type="text" name="location" placeholder="location" requierd, 
          autocomplete="off")
    input(type="submit", value="Create Account")
  
  hr 
  div 
    span Already have an Account  
    a(href="/login") Log in now &rarr;
    