extends base.pug

block content
  video(src="/" + selectedVideo.fileUrl, controls)
  div 
    p=selectedVideo.description 
    small=selectedVideo.createdAt
  
  div
    small Uploaded by #{owner.nickName}
    br
    if String(selectedVideo.owner) === String(loggedInUser._id)
      a(href=`${selectedVideo.id}/edit`) Edit Video &rarr;
      br
      a(href=`${selectedVideo.id}/delete`) Delete Video &rarr;