extends base.pug

block content
  h3=video.title
  ul
    li Rating : #{video.rating}
    li Comments : #{video.comments}
    li #{video.views === 1 ? `View` : `Views`} : #{video.views} 

  a(href=`${video.id}/edit`) Edit Video &rarr;